    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    * {
        font-family: 'Work Sans', sans-serif;
        margin: 0;
    }
    
    body {
        background-color: #ddd;
    }
    /* Menu Styles */
    
    .primary-nav {
        position: fixed;
        z-index: 999;
        margin-top: 0vh;
    }
    
    .menu {
        position: relative;
    }
    
    .menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .open-panel {
        border: none;
        background-color: #fff;
        padding: 0;
    }
    
    .hamburger {
        background: #fff;
        position: relative;
        display: block;
        text-align: center;
        padding: 13px 0;
        width: 50px;
        height: 73px;
        left: 0;
        top: 0;
        z-index: 1000;
        cursor: pointer;
    }
    
    .hamburger:before {
        content: "\2630";
        /* hamburger icon */
        display: block;
        color: #000;
        line-height: 32px;
        font-size: 16px;
    }
    
    .openNav .hamburger:before {
        content: "\2715";
        /* close icon */
        display: block;
        color: #000;
        line-height: 32px;
        font-size: 16px;
    }
    
    .hamburger:hover:before {
        color: #777;
    }
    
    .primary-nav .menu li {
        position: relative;
    }
    
    .menu .icon {
        position: absolute;
        top: 12px;
        right: 10px;
        pointer-events: none;
        width: 24px;
        height: 24px;
        color: #fff;
    }
    
    .fa:hover {
        color: #fff;
    }
    
    .menu,
    .menu a,
    .menu a:visited {
        color: #aaa;
        text-decoration: none!important;
        position: relative;
    }
    
    .menu a {
        display: block;
        white-space: nowrap;
        padding: 1em;
        font-size: 14px;
        margin-top: 4px;
    }
    
    .menu a:hover {
        color: #fff;
    }
    
    .menu {
        margin-bottom: 3em;
    }
    
    .menu-dropdown li .icon {
        color: #fff;
    }
    
    .menu-dropdown li:hover .icon {
        color: #fff;
    }
    
    .menu label {
        margin-bottom: 0;
        display: block;
    }
    
    .menu label:hover {
        cursor: pointer;
    }
    
    .menu input[type="checkbox"] {
        display: none;
    }
    
    input#menu[type="checkbox"] {
        display: none;
    }
    
    .sub-menu-dropdown {
        display: none;
    }
    
    .new-wrapper {
        position: absolute;
        left: 50px;
        width: calc(100% - 50px);
        transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
    }
    
    #menu:checked+ul.menu-dropdown {
        left: 0;
        -webkit-animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
        animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
    }
    
    .sub-menu-checkbox:checked+ul.sub-menu-dropdown {
        display: block!important;
        -webkit-animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
        animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
    }
    
    .openNav .new-wrapper {
        position: absolute;
        transform: translate3d(200px, 0, 0);
        width: calc(100% - 250px);
        transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
    }
    
    .downarrow {
        background: transparent;
        position: absolute;
        right: 50px;
        top: 12px;
        color: #777;
        width: 24px;
        height: 24px;
        text-align: center;
        display: block;
    }
    
    .downarrow:hover {
        color: #fff;
    }
    
    .menu {
        position: absolute;
        display: block;
        left: -200px;
        top: 0;
        width: 250px;
        transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
        background-color: #000;
        z-index: 999;
    }
    
    .menu-dropdown {
        top: 0;
        overflow-y: hidden;
    }
    
    .overflow-container {
        position: relative;
        height: calc(100vh - 73px)!important;
        overflow-y: hidden;
        border-top: 73px solid #fff;
        z-index: -1;
    }
    
    .menu a.logotype {
        position: absolute!important;
        top: 11px;
        left: 55px;
        display: block;
        font-family: 'Work Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        color: #000;
        font-size: 21px;
        padding: 10px;
    }
    
    .menu a.logotype span {
        font-weight: 400;
    }
    
    .menu a.logotype:hover {
        color: #777;
    }
    
    .sub-menu-dropdown {
        background-color: #333;
    }
    
    .menu:hover {
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .openNav .menu:hover {
        position: absolute;
        left: -200px;
        top: 73px;
    }
    
    .openNav .menu {
        top: 73px;
        transform: translate3d(200px, 0, 0);
        transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
    }
    /* label.hamburger {
		display: none;
	} */
    /* look and feel only, not needed for core menu*/
    
    @-webkit-keyframes grow {
        0% {
            display: none;
            opacity: 0;
        }
        50% {
            display: block;
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes grow {
        0% {
            display: none;
            opacity: 0;
        }
        50% {
            display: block;
            opacity: 0.5;
        }
        100% {
            opacity: 1
        }
    }
    /* Text meant only for screen readers. */
    
    .screen-reader-text {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }
    
    .screen-reader-text:focus {
        background-color: #f1f1f1;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        color: #21759b;
        display: block;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
        /* Above WP toolbar. */
    }
    
    .color_box {
        width: 40vw;
        height: 54vh;
        border-radius: 6px;
        opacity: 1;
        margin: auto;
        overflow: hidden;
        position: relative;
    }
    
    .color_box video {
        position: absolute;
        object-fit: cover;
        max-width: 60vw;
        height: 54vh;
        border-radius: 5px;
        left: -140px;
    }
    
    .color_box img {
        position: absolute;
        object-fit: cover;
        max-width: 60vw;
        height: 54vh;
        border-radius: 5px;
        left: -140px;
    }
    
    .color_box h2 {
        text-align: center;
        font-size: 35px;
        font-family: 'Work Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
        opacity: 1;
        letter-spacing: 1px;
        width: 40vw;
        min-height: 29.3vh;
        border-radius: 5px;
        position: fixed;
        background: rgba(0, 0, 0, 0.327);
        color: #f1f1f1;
        padding-top: 24.5vh;
    }
    
    .color_box h2 span {
        font-weight: 500;
        opacity: 1;
        color: #fff;
    }
    
    .initial {
        display: flex;
        flex-direction: row;
    }
    
    .admin_initia {
        min-height: 34.5vh !important;
    }
    
    .leave_accept_reject {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 15px;
    }
    
    .leave_accept_reject button {
        width: 65px;
        height: 28px;
        border: 0px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #1f1e1e;
        color: #f3f2f2;
    }
    
    .red {
        background-color: #b90000 !important;
        color: #fff !important;
    }
    
    .initial_0 {
        display: flex;
        flex-direction: column;
        margin-left: 6.5vw;
        margin-top: 5vh;
        width: 90vw;
        height: fit-content;
    }
    
    .initial_1 {
        display: flex;
        flex-direction: column;
    }
    
    .ini {
        display: flex !important;
        flex-direction: row !important;
    }
    
    .initi {
        display: flex;
        flex-direction: column;
        margin-bottom: 3vh;
        background-color: #fff;
        height: 43.45vh;
        border-radius: 6px;
        padding: 5%;
    }
    
    .flex-add-todo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .initia {
        display: flex;
        flex-direction: column;
        margin-bottom: 3vh;
        background-color: #fff;
        height: 13.3vh;
        border-radius: 6px;
        padding: 5%;
    }
    
    .initia h5 {
        color: #d00073;
        font-size: 14px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        margin-bottom: 3px;
    }
    
    .initi h5 {
        color: #d00073;
        font-size: 14px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        margin-bottom: 3px;
    }
    
    .initia h3 {
        text-align: center;
        color: #2b0319;
        font-size: 14px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        margin-bottom: 3px;
        margin-top: 5vh;
    }
    
    .add-todo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .flex-add-todo {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .admin_initial_2 {
        display: flex;
        flex-direction: row;
        margin-top: 4.5vh;
        padding-bottom: 0;
    }
    
    .add_announcements {
        margin-bottom: 0;
        background-color: #fff;
        border-radius: 6px;
        padding: 20px;
        width: 22vw;
        min-height: 26.2vh;
        color: #000;
    }
    
    .admin_other_main {
        width: 15.25vw;
        border-radius: 6px;
        margin-left: 3vw;
        background-color: #fff;
        padding: 10px;
        overflow-y: scroll;
    }
    
    .add-todo input {
        height: 25px;
        width: 77%;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .add-todo p {
        height: 25px;
        width: 90%;
        border-radius: 5px;
        border: 1px solid;
        font-size: 14px;
        border-image: linear-gradient(to right, #ccc, #ffffff) 0 0 1 0%;
    }
    
    .biometric_updates {
        display: flex;
        flex-direction: row;
    }
    
    .done button {
        max-width: 20px;
        max-height: 20px;
        border-radius: 20px !important;
        border: 3px solid #000 !important;
        background-color: #fff !important;
        color: #fff !important;
        transition: .2s;
        margin-right: 10px;
        margin-top: 1px;
    }
    
    .done button:hover {
        background-color: #d0d0d0 !important;
        color: #d0d0d0 !important;
        transition: .2s;
    }
    
    .done form {
        display: flex;
        flex-direction: row;
    }
    
    .add-todo form {
        min-width: 100%;
        margin: auto;
    }
    
    .add-todo button {
        height: 28px;
        width: 17%;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #000;
        color: #ccc;
        cursor: pointer;
    }
    
    .init {
        width: 30vw;
        margin-right: 3vw;
        margin-top: 5vh;
    }
    
    .initial_2 {
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        background: #fff;
        width: 62vw;
        margin-top: 6vh;
        height: 26vh;
        padding: 1vw;
        color: #4b0080;
    }
    
    .greet {
        border-radius: 6px;
        background: #fff;
        width: 18vw;
        height: 35vh;
        margin-bottom: 2vh;
        padding: 1vw;
        color: #4b0080;
        overflow: scroll;
    }
    
    .greet::-webkit-scrollbar {
        display: none;
    }
    
    .tip {
        border-radius: 6px;
        background: #fff;
        width: 18vw;
        height: 9vh;
        padding: 1vw;
    }
    
    .tip::-webkit-scrollbar {
        display: none;
    }
    
    .tip h5 {
        color: #d00073;
        font-size: 14px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
        margin-bottom: 3px;
    }
    
    .tip p {
        color: #30061d;
        font-size: 13.5px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
    }
    
    .greet img {
        margin-left: 9vw;
        margin-top: 2vh
    }
    
    .greet h1 {
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }
    
    .greet h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
    
    .greet h4 {
        font-family: 'Poppins', sans-serif;
    }
    
    .greet p {
        font-family: 'Poppins', sans-serif;
    }
    
    .greet span {
        font-size: 30px;
        letter-spacing: 1px;
    }
    
    .initial_2 p {
        margin-left: 1vw;
        letter-spacing: 1px;
        margin-bottom: 1vh;
    }
    
    .main_events {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .events {
        background-color: #fafafa;
        border: 1px solid #f1f1f1;
        border-radius: 6px;
        margin-top: 1vh;
        width: 20vw;
        height: 22vh;
    }
    
    .events ul a {
        color: #475569;
        letter-spacing: 1px;
        text-decoration: none;
    }
    
    .event_details {
        display: flex;
        flex-direction: column;
        padding-left: 8%;
        padding-right: 10%;
        text-align: left;
    }
    
    .date {
        font-size: 12px;
        font-style: normal;
        padding: 10px;
    }
    
    .event_topic img {
        margin-left: 1vw;
        margin-right: .5vw;
        margin-top: .5vh;
    }
    
    .event_topic a {
        padding-bottom: 5vh;
    }
    
    .event_topic {
        display: flex;
        flex-direction: row;
        padding-bottom: 5px;
        margin: 5px;
        padding-left: 5px;
        border-bottom: 1px solid#ccc;
        justify-content: flex-start;
    }
    
    .events ul {
        padding-top: 1vh;
        padding-left: 1vw;
    }
    
    .event_time {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid#ccc;
    }
    
    .event_time img {
        margin-top: 0.7vh;
    }
    
    .venue {
        margin-top: 1vh;
        margin-bottom: 1vh;
        padding-left: 0px;
        padding-right: 0px;
        width: fit-content;
        font-size: 13px;
    }
    
    .venue span {
        color: #475569;
    }
    
    .event_status {
        margin-bottom: 2vh;
        padding-left: 0px;
        padding-right: 0;
        width: fit-content;
        font-size: 13px;
    }
    
    .event_status span {
        color: #475569;
    }
    
    .weather {
        display: flex;
        flex-direction: row;
    }
    
    .leave_history {
        display: flex;
        flex-direction: row;
        padding-top: 5vh;
    }
    
    .leave {
        background-color: #fff;
        width: 45.7vw !important;
        height: 45vh;
        border-radius: 6px;
        margin-left: 6.5vw !important;
        padding: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .leave_graph {
        background-color: #fff;
        width: 56vw;
        height: 29.5vh;
        border-radius: 6px;
        margin-left: 6.5vw;
        padding: 20px;
        margin-top: 5vh;
    }
    
    .leave h3 {
        font-size: 14px;
        color: #d00073;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    
    .schedule_remainder h3,
    .leave_graph h3 {
        font-size: 14px;
        color: #d00073;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }
    
    .schedule_remainder {
        background-color: #fff !important;
        width: 30vw !important;
        height: 29.5vh;
        border-radius: 6px;
        margin-left: 2 vw;
        padding: 20px;
        margin-top: 5vh;
        box-shadow: 0 0 4px 4px rgba(133, 133, 133, 0.6);
    }
    
    .leave_history_h2 {
        font-size: 14px;
        color: #d00073;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        margin: 15px;
    }
    
    .history_leave {
        background-color: #fff;
        min-width: 28vw !important;
        height: 90vh;
        border-radius: 6px;
        margin-left: 4vw;
        overflow-y: scroll;
        position: relative;
        margin-right: 0;
    }
    
     ::-webkit-scrollbar {
        width: 0;
        /* Remove scrollbar space */
        background: transparent;
        /* Optional: just make scrollbar invisible */
    }
    
    .history_leave button {
        min-width: 70px !important;
        min-height: 30px !important;
        border: 1px #000;
        background-color: #000 !important;
        color: #ccc;
        border-radius: 5px;
        cursor: pointer;
        letter-spacing: 1px;
    }
    
    .history_leave button:hover {
        background-color: #212121 !important;
    }
    
    table {
        border-spacing: 1;
        border-collapse: collapse;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        width: 80vw;
        margin: auto;
        padding: 20px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 3vh;
    }
    
    table * {
        position: relative;
    }
    
    table td,
    table th {
        padding-left: 8px;
        padding-right: 20px;
        padding-left: 10px;
    }
    
    table thead tr {
        height: 60px;
        background-color: #9a8bfc;
        font-size: 16px;
        color: #fff;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border: 0px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    table tbody tr {
        height: 48px;
        border-bottom: 1px solid #ccc;
        font-size: 13px;
    }
    
    table tbody tr:last-child {
        border: 0;
    }
    
    table td,
    table th {
        text-align: left;
    }
    
    @media screen and (min-width: 35.5em) {
        .leave_history {
            width: 90%;
        }
        table {
            display: block;
            width: 90%;
            background-color: #fdfdfd;
            box-shadow: 0 0 5px 5px rgba(218, 218, 218, 0.6);
        }
        table>*,
        table tr,
        table td,
        table th {
            display: block;
        }
        table thead {
            display: none;
        }
        table tbody tr {
            height: auto;
            padding: 8px 0;
        }
        table tbody tr td {
            padding-left: 45%;
            margin-bottom: 12px;
        }
        table tbody tr td:last-child {
            margin-bottom: 10px;
        }
        table tbody tr td:before {
            position: absolute;
            font-weight: 700;
            width: 40%;
            left: 10px;
            top: 0;
        }
        table tbody tr td:nth-child(1):before {
            content: "S.No";
        }
        table tbody tr td:nth-child(2):before {
            content: "Leave Type";
        }
        table tbody tr td:nth-child(3):before {
            content: "Alternate Staff";
        }
        table tbody tr td:nth-child(4):before {
            content: "Date and Time";
        }
        table tbody tr td:nth-child(5):before {
            content: "Reason";
        }
        table tbody tr td:nth-child(6):before {
            content: "Status";
        }
    }
    
    .date_time {
        min-width: fit-content;
        padding: 2px;
        min-height: 30px !important;
    }
    
    .date_time,
    .leave_type,
    .alt_staff {
        height: 30px;
        width: fit-content;
        padding: 5px;
    }
    
    #leave_reason {
        width: 50%;
        height: 50px;
        border-radius: 6px;
        padding: 10px;
    }
    
    .flex-row {
        display: flex;
        flex-direction: row;
    }
    
    .leave label {
        margin-top: 3px;
        margin-right: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
    
    .leave button {
        min-width: 70px !important;
        min-height: 30px !important;
        border: 1px #000;
        background-color: #000 !important;
        color: #ccc;
        border-radius: 5px;
        cursor: pointer;
        letter-spacing: 1px;
        margin: auto;
    }
    
    .submit_button:hover,
    .leave button:hover {
        background-color: #212121 !important;
    }
    
    .malpractice_history {
        display: flex;
        flex-direction: column;
        padding: 5px;
        background-color: #fff;
        width: 30vw;
        margin-left: 6.5vw;
        height: 89vh;
        border-radius: 6px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .record_malpractice {
        max-width: 53vw !important;
        background-color: #fff;
        margin-left: 4vw;
        border-radius: 6px;
        height: 44.6vh;
        padding: 15px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .malpractice_history::-webkit-scrollbar {
        display: none;
    }
    
    .malpractice_graph {
        width: 53vw;
        height: 32vh;
        margin-top: 5vh;
        background-color: #fff;
        margin-left: 4vw;
        border-radius: 6px;
        padding: 15px;
    }
    
    .malpractice_graph h3,
    .record_malpractice h3 {
        font-size: 14px;
        color: #d00073;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300 !important;
        text-align: center;
        text-transform: uppercase;
    }
    
    .record_malpractice h3 {
        margin-bottom: 5vh;
    }
    
    .record_malpractice label {
        font-family: 'Poppins', sans-serif;
        margin-right: 10px;
        margin-top: 3px;
    }
    
    .record_malpractice input {
        font-family: 'Poppins', sans-serif;
        margin-right: 10px;
        margin-top: 3px;
        width: fit-content;
        height: 28px;
    }
    
    .submit_button {
        min-width: 70px !important;
        min-height: 30px !important;
        border: 1px #000;
        background-color: #000 !important;
        color: #ccc;
        border-radius: 5px;
        cursor: pointer;
        letter-spacing: 1px;
        margin-left: 45%;
    }
    
    .add_announcement {
        min-width: 95% !important;
        min-height: 42px;
        padding: 5px;
        border-radius: 5px;
        border: 0;
        box-shadow: 0 0 2px 2px rgba(146, 146, 146, 0.203);
        margin-top: 5px;
        background-color: #fff;
    }
    
    .add_announcement_button {
        width: 70px;
        height: 26px;
        background-color: #000;
        color: #fdfdfd;
        border-radius: 5px;
        margin-top: 7px;
        margin-left: 38%;
    }
    
    .left_main_box {
        display: flex;
        flex-direction: column;
    }
    
    .leave_approve_graph {
        background-color: #fff !important;
        height: 30vh !important;
        width: 60vw !important;
        border-radius: 6px;
        padding: 10px;
    }
    
    .over_all_main {
        display: flex;
        flex-direction: row;
        margin-left: 6vw;
        padding-top: 8vh;
    }
    
    .leave_approve_portal {
        background-color: #fff !important;
        height: 45vh !important;
        width: 60vw !important;
        border-radius: 6px;
        padding: 10px;
        margin-bottom: 5vh;
    }
    
    .leave_summary {
        width: 25vw;
        min-height: 80vh;
        background-color: #fff;
        margin-left: 5vw;
        border-radius: 6px;
        padding: 10px;
    }
    
    .leave_history h5 {
        color: #d00073;
        font-family: 'Work Sans', sans-serif;
    }
    
    .duty_allotment {
        background-color: #fff;
        width: 22vw !important;
        height: 45vh;
        border-radius: 6px;
        margin-left: 6.5vw !important;
        padding: 20px;
        padding-left: 10%;
        padding-right: 10%;
        box-shadow: 0 0 4px 4px rgba(133, 133, 133, 0.6);
    }
    
    .duty_allotment h3 {
        font-size: 14px;
        color: #d00073;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    
    .duty_allotment button {
        min-width: 70px !important;
        min-height: 30px !important;
        border: 1px #000;
        background-color: #000 !important;
        color: #ccc;
        border-radius: 5px;
        cursor: pointer;
        letter-spacing: 1px;
        margin: auto;
    }
    
    .duty_allotment button:hover {
        background-color: #212121 !important;
    }
    
    .duty_allotment input {
        width: 50px;
        height: 22px;
        margin-left: 10px;
        border-radius: 5px;
        border: 1px solid #ccc !important;
    }
    
    .duty_allotment form {
        padding-top: 20px;
    }
    
    .existing_limit {
        width: 21vw;
        height: 50.5vh;
        background-color: #fff;
        margin-left: 2vw;
        border-radius: 6px;
        box-shadow: 0 0 4px 4px rgba(133, 133, 133, 0.6);
    }
    
    .existing_limit h3 {
        font-size: 14px;
        color: #d00073;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
        padding: 10px;
        padding-top: 20px;
    }
    
    .el_label_p {
        font-size: 14px;
        color: #3e3e3e;
        font-family: 'Work Sans', sans-serif;
        margin-left: 5vw;
        font-weight: 600;
    }
    
    .el_limit_p {
        font-size: 14px;
        color: #000000;
        font-family: 'Work Sans', sans-serif;
        margin-left: 1vw;
    }
    
    .history_leave select {
        max-height: 30vh;
        overflow-y: scroll;
    }
    
    .admin_other_main h5 {
        font-size: 14px;
        color: #d00073;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 15px;
        padding: 10px;
        padding-left: 20px;
    }
    
    .existing_remainder {
        width: 22vw;
        height: 32.3vh;
        background-color: #fff;
        margin-top: 5vh;
        margin-left: 6.5vw;
        margin-right: 2vw;
        border-radius: 6px;
        padding: 10px;
        box-shadow: 0 0 4px 4px rgba(133, 133, 133, 0.6);
        overflow-y: scroll;
    }
    
    .existing_remainder h5 {
        font-size: 14px;
        color: #d00073;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px;
        padding: 10px;
        padding-left: 20px;
    }
    
    .schedule_remainder label {
        font-size: 14px;
        color: #000000;
        font-family: 'Poppins', sans-serif;
        margin-left: 2vw;
        letter-spacing: 1px;
        margin-top: 10px;
    }
    
    .schedule_remainder select,
    .schedule_remainder input {
        font-size: 14px;
        color: #000000;
        font-family: 'Poppins', sans-serif;
        margin-left: 1vw;
        letter-spacing: 1px;
        margin-top: 10px;
    }
    
    .schedule_remainder button {
        min-width: 70px !important;
        min-height: 30px !important;
        border: 1px #000;
        background-color: #000 !important;
        color: #ccc;
        border-radius: 5px;
        cursor: pointer;
        letter-spacing: 1px;
        margin-left: 12vw;
        margin-top: 20px;
    }
    
    .schedule_remainder button:hover {
        background-color: #212121 !important;
    }
    
    .added_schedule {
        width: 90%;
        height: 40px;
        background-color: #f8f8f8;
        padding: 5px;
        margin-left: 7px;
        border-radius: 6px;
        margin-bottom: 5px;
        font-size: 14px;
        color: #000000;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        box-shadow: 0 0 4px 4px rgba(133, 133, 133, 0.137);
    }